page-live-stream {

    .logoname_row{
        margin-top: 10%;
    }
    .logo_span{
        margin: auto;
    }
    .logoimage_row{
        margin-top: 5%;
        border: 1px solid #707070;
        width: 70%;
        margin-left: 15%;
        height: 50px;
    }
    .logoimage_{
        margin-top: 5%;
        width: 70%;
        margin-left: 15%;
        // height: 50px;
    }
    .logoname_{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .logoname_span{
        margin: auto;
    }

    .logo_detail_span{
        text-align: center;
    }
    .logo_detail_row{
        margin-top: 5%;
    }
    .button_row{
        margin-top: 15%;
        height: 50px;
    }
    .button_style{
        background-color: #4CD964;
        border-radius: 25px;
        width: 60%;
        margin: auto;
        height: 100%;
        text-transform: initial;
    }
    .none_style{
        margin: auto;
        text-align: center;
        width: 80%;
    }
    .someText_span{
        font-size: 1.6rem;
        margin: auto;
        text-align: center;
    }
    .someText_row{
        margin-top: 20%;
    }
    .other1_row{
        margin-top: 2%;
    }
    .other_span{
        margin: auto;
        text-align: center;
        width: 80%;
    }
    .other2_row{
        margin-top: 10%;
    }

}
