page-configuration {

    .backBlue_white{
        width: 110%;
        margin-left: -5%;
        background-color: #0060B5;
        margin-top: -5%;
        height: 25px;
    }
    .blueSpan{
        color: white;
        margin: auto;
    }
    .small_row{
        margin-top: 5%;
    }
    .small1_row{
        margin-top: 3%;
        margin-top: 3%;
    }
    .small_span{
        margin: auto;
        text-align: center;
    }
    .margin_top{
        margin-top: 2%;
    }
    .small1_span{
        margin: auto;
        text-align: center;
        font-weight: bold;
    }
    .include_toggle_row{
        border-bottom: 1px solid #C7C7CC;
        width: 105%;
    }
    .include_toggle{
        height: 100%;
    }
    .toggle_span{
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
    }
    .toggole_toop{
        margin-top: 5%;
    }
    .border_leftRow{
        // height: 100%;
        border-left:  1px solid #C7C7CC;
    }
    .long_menu{
        margin: auto;
    }
    .Blue_white{
        width: 110%;
        margin-left: -5%;
        background-color: #0060B5;
        height: 25px;
    }
    .toggle_class{
        color: #4BD964;
    }


}
